body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#111;
  color:#fff;
}

header{
  background:#000;
  padding:20px;
  text-align:center;
  color:gold;
}

.container{
  max-width:1200px;
  margin:auto;
  padding:20px;
}

.btn{
  display:inline-block;
  background:gold;
  color:#000;
  padding:12px 25px;
  border-radius:8px;
  text-decoration:none;
  font-weight:bold;
}
